{{> navbar}}

<!--Desktop View-->

<div class="columns">
    <!--legislation-cards-->
    <aside class="is-hidden-mobile">
        {{#each legislation}}
        <div class="column card-feed">
            <div class="columns">
                <div class="column bill-name">
                    <h2 class="bd-notification is-info">Bill</h2>
                </div>
                <div class="column bill-status">
                    <h2 class="bd-notification is-info">Status</h2>
                </div>
            </div>
            <p class="bill-info">{{title}}</p>
        </div>
        {{/each}}
    </aside>


    <!--legislation-feed-->
    <section class="is-hidden-mobile">
        <div class="column is-two-quarters">
            <div class="columns bill-header-main">
                <div class="column bill-name-main">
                    <h1 class="bd-notification is-info bill-main">Bill</h1>
                </div>
                <div class="column bill-status-main is-one-quarter">
                    <h1 class="bd-notification is-info">Status</h1>
                </div>
            </div>
            <p class="bill-info-main">A BILL to be entitled an Act to amend Part 3 of Article 16 of Chapter 2 of Title
                20 of
                the Official Code of Georgia Annotated, relating to the health of students generally, so as to require
                the
                Department of Education, in consultation with the Department of Behavioral Health and Developmental
                Disabilities and others, to develop guidelines for the use of telehealth services in public schools to
                provide mental health and behavioral health services to students at school or during any school related
                function; to define the term "telehealth"; to provide for related matters; to repeal conflicting laws;
                and
                for other purposes.</p>
            <div class="columns bill-main-bottom">
                <div class="column bill-date-main">
                    <h1 class="bd-notification is-info bill-date">Date</h1>
                    <h1 class="bd-notification is-info is-hidden-mobile">House Prefiled</h1>
                </div>
                <div class="column bill-liked-main">
                    <p class="bd-notification is-info">
                        <i class="far fa-thumbs-up fa-3x bill-like"></i>
                        <i class="far fa-thumbs-down fa-3x bill-dislike"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>



<!--Mobile View-->
<section class="accordions is-hidden-desktop is-hidden-tablet column-car-feed-mobile">
    {{#each legislation}}
    <article class="accordion is-active">
        <div class="accordion-header toggle bill-name-mobile">
            <p>{{name}}</p>
            <p>{{title}}</p>
            <p>{{status}}</p>
        </div>
        <div class="accordion-body">
            <div class="accordion-content bill-info-mobile">{{description}}</div>
        </div>
    </article>
    {{/each}}
</section>

</section>


<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>

<script>$(document).ready(function () {
        var accordions = bulmaAccordion.attach();
    });
</script>

<script src="/assets/js/legislation.js"></script>