{{> navbar}}

<!--Desktop View-->

<div class="columns">
    <!--legislation-cards-->
    <aside id="sidebar" class="is-hidden-mobile">
        {{#each legislation}}
        <div class="column card-feed" data-bill-id="{{id}}">
            <div class="columns">
                <div class="column bill-name">
                    <h2 class="bd-notification is-info">Bill</h2>
                </div>
                <div class="column bill-status">
                    <h2 class="bd-notification is-info">{{status}}</h2>
                </div>
            </div>
            <p class="bill-info">{{title}}</p>
        </div>
        {{/each}}
    </aside>


    <!--legislation-feed-->
    {{#with bill}}
    <section class="is-hidden-mobile">
        <div class="column is-two-quarters">
            <div class="columns bill-header-main">
                <div class="column bill-name-main">
                    <h1 class="bd-notification is-info bill-main">{{name}}</h1>
                </div>
                <div class="column bill-status-main is-one-quarter">
                    <h1 class="bd-notification is-info">{{status}}</h1>
                </div>
            </div>
            <p class="bill-info-main">{{description}}</p>
            <div class="columns bill-main-bottom">
                <div class="column bill-date-main">
                </div>
                <div class="column bill-liked-main">
                    <p class="bd-notification is-info">
                        <i class="far fa-thumbs-up fa-3x bill-like"></i>
                        <i class="far fa-thumbs-down fa-3x bill-dislike"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {{/with}}
</div>



<!--Mobile View-->
<section class="accordions is-hidden-desktop is-hidden-tablet column-car-feed-mobile">
    {{#each legislation}}
    <article class="accordion">
        <div class="accordion-header toggle bill-name-mobile">
            <p>{{name}}</p>
            <p>{{status}} <i class="fas fa-plus"></i></p>
        </div>
        <div class="accordion-body">
            <p class="accordion-content bill-info-mobile">{{title}}
            </p>
            <p class="accordion-content bill-info-mobile">{{description}}
            </p>
        </div>
    </article>
    {{/each}}
</section>

</section>


<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>

<script>$(document).ready(function () {
        var accordions = bulmaAccordion.attach();
    });
</script>

<script src="/assets/js/legislation.js"></script>